// font-weight

$light: 400;
$medium: 500;
$bold: 700;

//  colors

$button: hsl(238, 40%, 52%);
$button-hover: hsl(239, 57%, 85%);
$delete-btn: hsl(358, 79%, 66%);
$delete-btn-hover: hsl(357, 100%, 86%);
$cancel-btn: hsl(211, 10%, 45%);
$text: hsl(211, 10%, 45%);
$line: hsl(223, 19%, 93%);
$replyingTo: hsl(238, 40%, 52%);

$username: hsl(212, 24%, 26%);
$body-bg: hsl(228, 33%, 97%);
$count-button-bg: hsl(228, 33%, 97%);
$card-bg: hsl(0, 0%, 100%);
$button-text: hsl(0, 0%, 100%);
